* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.header-1 {
  width: 100%;
  height: 60px;
  background-color: rgb(38, 32, 97);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.navbar {
  display: flex;
  color: white;
  /*justify-content: space-between;*/
}

.nav-h1 {
  color: white;
  font-style: inherit;
}

.navbar-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-li {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

/* the main part */

.main {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  background-color: white;
  color: rgb(31, 18, 113);
  font-size: medium;
  border: none;
  cursor: pointer;
}

/* the footer part */

.footer-1 {
  display: flex;
  background-color: rgb(38, 32, 97);
  justify-content: space-around;
}

.footer-h1 {
  color: white;
  font-style: inherit;
  padding: auto;
  align-items: center;
}

.footer-li {
  display: flex;
  text-decoration: none;
}

/*.footer-2 {
  display: flex;
  margin: 1px 0 0 0;
  padding: 40px;
  color: white;
  background-color: rgb(49, 49, 49);
}*/

.footer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 32, 97);
  padding: 20px;
  color: rgb(38, 32, 97);
  font-style: initial;
}

.footer-2 a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.footer-2 a:hover {
  color: #007bff;
}
